name: tests

on: [push, pull_request]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Build documentation
        env:
          READTHEDOCS: "True"
        run: |
          pip install . -r requirements/doc.txt
          make -C docs html SPHINXOPTS=-W

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install packages
        run: pip install check-manifest mypy ruff types-certifi types-pyopenssl
      - name: Run linters
        run: |
          ruff check .
          ruff format --check --diff .
          mypy examples src tests
          check-manifest

  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          check_hidden: false
          ignore_words_list: assertIn,quicly
          skip: "*.bin"

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install OpenSSL and disable firewall
        if: matrix.os == 'macos-latest'
        run: |
          brew install openssl
          echo "AIOQUIC_SKIP_TESTS=chacha20" >> $GITHUB_ENV
          echo "CFLAGS=-I$(brew --prefix openssl)/include" >> $GITHUB_ENV
          echo "LDFLAGS=-L$(brew --prefix openssl)/lib" >> $GITHUB_ENV
          sudo /usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate off
      - name: Install OpenSSL
        if: matrix.os == 'windows-latest'
        run: |
          # OpenSSL is pre-installed on windows-2025 runners.
          echo "INCLUDE=C:\Progra~1\OpenSSL\include" >> $GITHUB_ENV
          echo "LIB=C:\Progra~1\OpenSSL\\lib\\VC\\x64\\MD" >> $GITHUB_ENV
        shell: bash
      - name: Run tests
        run: |
          python -m pip install -U pip setuptools wheel
          pip install .[dev]
          coverage run -m unittest discover -v
          coverage xml
        shell: bash